<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }
        
        .container {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        
        h1 {
            margin-bottom: 20px;
        }
        
        ul {
            padding: 0;
            list-style: none;
        }
        
        li {
            margin-bottom: 10px;
        }
        
        a {
            text-decoration: none;
            color: #007bff;
        }
    </style>
</head>

<body>
    <br>
    <div class="container">

        <h2>Results:</h2>
        {% if results %}
        <ul style="color: blueviolet;">
            {% for result in results %}
            <li>- {{ result }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p style="color: coral;">No Results</p>
        {% endif %}

        <a style="color: rgb(174, 12, 12);" href="/">Back</a>
    </div>
</body>

</html>